<!DOCTYPE html>
<html>
  <head>
    <title>Vue.js with Leaflet</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div
        v-if="show === false"
        class="d-flex justify-content-center align-items-center vh-100"
      >
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <h5 class="mt-3">Carregando...</h5>
        </div>
      </div>

      <div class="scroll-view" v-else="show === true" v-show="!olhoAberto">
        <div class="container-fluid">
          <div class="form-group">
            <label for="bearerInput">Token</label>
            <input class="form-control" id="bearerInput" v-model="bearer" />
          </div>

          <div class="form-group">
            <label for="selectGerencia">Intervalo</label>
            <select
              class="form-control"
              id="selectIntervalo"
              v-model="ranger"
              @change="limparMapa"
            >
              <option value="" disabled selected>Selecione...</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectAcrescentar">Acréscimos</label>
            <select
              class="form-control"
              id="selectAcrescentar"
              v-model="acrescimo"
            >
              <option value="0" disabled selected>Selecione...</option>
              <option value="1">1 hora</option>
              <option value="2">2 horas</option>
              <option value="3">3 horas</option>
              <option value="4">4 horas</option>
              <option value="5">5 horas</option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectGerencia">Gerência</label>
            <select
              class="form-control"
              id="selectGerencia"
              v-model="gerencia"
              @change="updateRoteiros"
            >
              <option value="" disabled selected>Selecione...</option>
              <option
                v-for="gerenciaItem in gerencias"
                :key="gerenciaItem"
                :value="gerenciaItem"
              >
                {{ gerenciaItem }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectRoteiro">Roteiro</label>
            <select
              class="form-control"
              id="selectRoteiro"
              v-model="roteiro"
              :disabled="!gerencia"
            >
              <option value="" disabled selected>Selecione...</option>
              <option
                v-for="roteiroItem in filteredRoteiros"
                :key="roteiroItem"
                :value="roteiroItem"
              >
                {{ roteiroItem }}
              </option>
            </select>
            <smal v-show="showIntervalo" style="margin-left: 1em; color: blue"
              >{{listaDias[dias]}} {{periodo}}
            </smal>
          </div>
          <div class="form-group">
            <label for="selectTurno">Veículos</label>
            <select
              class="form-control"
              id="selectPlaca"
              v-model="placa"
              :disabled="!roteiro"
            >
              <option value="" disabled selected>Selecione...</option>
              <option
                v-for="item in filteredPrefixos"
                :key="item.placa"
                :value="item.placa"
              >
                {{ item.roteiro === roteiro ? item.prefixo + ' ' + 'previsto' :
                item.prefixo + ' (' + item.roteiro + ')'}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="dataInput">Data</label>
            <input
              type="date"
              class="form-control"
              id="dataInput"
              v-model="data"
              :disabled="!placa || showIntervalo"
              @change="buscarTelemetria"
            />
          </div>
          <div class="form-group">
            <label>Buscar parada</label>
            <div class="input-group mb-3">
              <input
                type="number"
                :max="pontos.length - 1"
                :min="0"
                class="form-control"
                aria-label="Busca parada"
                aria-describedby="button-addon2"
                v-model="ponto"
                :disabled="this.pontos.length === 0"
              />

              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  @click="irParaPonto"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" role="alert" v-show="showIntervalo">
            {{liberacao}}
          </div>
        </div>
      </div>

      <div id="map" style="height: 100%"></div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
