body,
html {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map {
  flex: 1;
  height: 600px; /* Altura do mapa */
}

.scroll-view {
  height: 50vh; /* 35% da altura da viewport */
  overflow-y: scroll; /* Habilita o scroll vertical */
  border: 1px solid #ccc; /* Opcional: Adiciona uma borda para visualização */
  padding: 10px; /* Espaçamento interno */
}
